{% extends 'base.html' %}

{%block conteudo %}
<body>
{% include 'parciais/_messages.html' %}

<div class="card card-register">

    <div class="card-header">Cadastro de Livro</div>

    <div class="card-body">
        <form method="post" action="">
            {% csrf_token %}

            <input type="hidden" value="{{livro.id}}" name="livro_id">
            <div class="form-group col-md-12">
                <label>Nome do livro:</label>
                <input class="form-control" type="text" value="{{livro.nome}}" name="nome" required>
            </div>
            <div class="form-group col-md-12">
                <label>Autor:</label>
                <input class="form-control" type="text" value="{{livro.autor}}" name="autor">
            </div>


            <div class="form-group col-md-12">
                <label>Editora:</label>
                <input class="form-control" type="text" value="{{livro.editora}}" name="editora">
            </div>

            <div class="form-group col-md-12">
                <label>ISBN:</label>
                <input class="form-control" type="text" value="{{livro.isbn}}" name="isbn">
            </div>

            <br/>


            <button type="submit" class="btn btn-primary">Cadastrar</button>

        </form>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
</body>

{% endblock %}