{% extends 'base.html' %}
{% block conteudo %}


<body>
<div class="navbar-wrapper header">
    <br/>
</div>

<div class="row">

    <h4 class="card-title">Lista de Livros</h4>
    <br/>
    {% include 'parciais/_messages.html' %}
    <div class="table">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Autor</th>
                <th>Editora</th>
                <th>ISBN</th>
                <th>Ação</th>
            </tr>
            </thead>
            <tbody>
            {% for livro in object_list %}
            <tr>
                <td>{{ livro.id }}</td>

                <td>{{ livro.nome }}</td>

                <td>{{ livro.autor }}</td>

                <td>{{ livro.editora }}</td>

                <td>{{ livro.isbn }}</td>


                <td>
                    <a class="btn btn-info btn-sm" href="{% url 'livro:livro_update' livro.pk %}">Alterar</a>
                </td>

                <td>
                    <a class="btn btn-danger btn-sm" href="{% url 'livro:livros_confirm_delete' livro.pk %}">Excluir</a>
                </td>

                {% endfor %}


            </tr>
            </tbody>
        </table>
    </div>


</div>


</body>


{% endblock %}
