<h1>Lista de Livros Cadastrados</h1>


<table class="table">
    <thead>
    <tr>

        <th scope="col">Nome</th>
        <th scope="col">Autor</th>
       <th scope="col">Editora</th>
        <th scope="col">Isbn</th>
        <th scope="col">Ação</th>
    </tr>
    </thead>
    <tbody>
    {% for livro in object_list %}
    <tr>

        <td>{{ livro.nome }}</td>

        <td>{{ livro.autor }}</td>

        <td>{{ livro.editora }}</td>

        <td>{{ livro.isbn }}</td>

        <th></th>

        <td>
            <a class="btn btn-info" href="{% url 'livro:adicionar'  %}">Adicionar</a>
        </td>
        <td>
            <a class="btn btn-info" href="{% url 'livro:livro_update' livro.pk %}">Alterar</a>
        </td>

        <td>
            <a class="btn btn-info" href="{% url 'livro:livros_confirm_delete' livro.pk %}">Excluir</a>
        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>
